# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
build.log
release.properties
temp_jar/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.factorypath

# Frontend (if applicable)
node_modules/
dist/
build/
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log
